/* work sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;

}
header{
    background-color: bisque;
    padding: 50px 240px;
}
.header-title{
    font-size: 2.8rem;
    font-weight: 700;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav>ul{
    display: flex;

}
nav li{
    list-style: none;
    margin: 30px;
    font-weight: 300;
    font-size: 15px;
}
nav a{
    text-decoration: none;
    color: cadetblue;
}
/* banner styles */
.banner-content{
    max-width: 800;
    text-align: center;
    margin: 0 auto;

}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: cadetblue;
}
.banner-description{
    color: gray;
}
.btn-primary{
    background-color: orange;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    cursor: pointer;
}
.banner img{
    width: 100%;
}
/* features css */
main{
    max-width: 1440px;
    margin: 0 auto;
}
.teams-container{
    display: flex;
    align-items: center;
}
.features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin: 24px;
}
.team-content{
    padding-right: 70px;
    padding-left: 70px;
}
span{
    color: orangered;
}
/* features section style */
.features-section{
    display: flex;
    margin-top: 130px;
    gap: 100px;
}
.features-content .card{
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px grey;
    background: #fff;
    margin-bottom: 20px;
    padding: 30px;
}
/* facts css */
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid orangered;
    text-align: center;
    padding:  30px;
    box-shadow: 5px ;
}
.facts-card-container .card-title{
    font-weight: 600;
    color: grey;
    font-size: 1.25rem;
    margin-top: 5px;
}
.facts-card-container .card-states{
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #424242;
}
/* sopnsors style */
.sopnsors{
    text-align: center;
    margin-top: 30px;
}
.sopnsor-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}
.sopnsor-img-container img{
    width: 165px;
}
/* responsive query */
@media screen and (max-width:576px) {
    header{
        padding: 25px;
    }
    nav ,.teams-container,.facts-card-container,.sopnsor-img-container{
        flex-direction: column;
    }
    .features{
        grid-template-columns: repeat(1,1fr);
    }
    .team-content,.facts-card-container{
        padding-left: 20px;
        padding-right: 20px;
    }
}
